body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

input, select, button {
    width: 100%;
    max-width: 250px;  /* Atur lebar maksimum agar seragam */
    padding: 10px;     /* Kurangi padding agar terlihat lebih proporsional */
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #66b3ff;
}

button {
    width: 100%;
    max-width: 250px;   /* Samakan lebar tombol dengan input dan select */
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;      /* Sesuaikan padding tombol */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 14px;
}
